# MySQL Service
apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: mysql-day63
spec:
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306
  type: ClusterIP
